<p id="notice"><%= notice %></p>

<h1>Men Shop Collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Men shop collection category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @men_shop_collections.each do |men_shop_collection| %>
      <tr>
        <td><%= men_shop_collection.name %></td>
        <td><%= men_shop_collection.price %></td>
        <td><%= men_shop_collection.men_shop_collection_category_id %></td>
        <td><%= link_to 'Show', men_shop_collection %></td>
        <td><%= link_to 'Edit', edit_men_shop_collection_path(men_shop_collection) %></td>
        <td><%= link_to 'Destroy', men_shop_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Men Shop Collection', new_men_shop_collection_path %>
