<%= form_with(model: men_clothe, local: true) do |form| %>
  <% if men_clothe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(men_clothe.errors.count, "error") %> prohibited this men_clothe from being saved:</h2>

      <ul>
      <% men_clothe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>


  <div class="form-group">
    <div align="left"><%= form.label :men_clothes_category_id %></div>
    <%= form.select :men_clothes_category_id, MenClothesCategory.all.pluck(:name, :id), { prompt: 'Select' }, { class: "form-control" } %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
